.cal
{
    text-align: center;
font-family:Merlin;
    border: 5px so;

}
table
{
    margin: auto;
}
input
{
    font-size: 25px;
    height: 53px;
    width: 317px;
    border: 1px solid rgb(252, 249, 249);
    border-radius: 0px;
}
button
{
    
    font-size: 30px;
    background-color: rgb(245, 245, 245 ,0.7);
    height: 80px;
    width: 61px;
    border: 1px solid white;
    border-radius: 0px;
}
.calculater
{
    display: inline-block;
    background-color: lightblue;
    padding-top: 2px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0px;
}
body{
    background-color:rgba(95, 194, 156, 0.7);
}
.button:hover
{
    background-color: #1be4b9;
}